.header-wrap {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #DCE1EE;
    .header {
        position: relative;
        display: inline-block;
        width: 1180px;
        text-align: right;
        .header-logo {
            position: absolute;
            left: 0;
            display: inline-block;
            margin-top: 18px;
            margin-bottom: 18px;
            vertical-align: middle;
            a {
                display: inline-block;
            }
        }
        .header-link {
            display: inline-block;
            height: 80px;
            vertical-align: middle;
            li {
                line-height: 80px;
                display: inline-block;
                padding: 0 25px;
                a {
                    font-size: 16px;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}
