.similar {
    .stadium-similar-item {
        text-align: left;
        padding: 20px;
        padding-bottom: 0px;
        .left-image {
            display: inline-block;
            vertical-align: middle;
        }
        .right-text {
            display: inline-block;
            vertical-align: middle;
            word-wrap: break-word;
            padding: 0 20px;
            width: 170px;
            line-height: 20px;
            a {
                font-size: 16px;
                color: #333333;
                line-height: 25px;
                &:hover {
                    color: #5a76cd;
                }
            }
        }
    }
}
