.investments-container {
    height: auto;
    text-align: center;
}

.investments-list-container {
    padding-top: 30px;
    text-align: center;
    background-color: #f2f3f6;
}

.investments-list {
    display: inline-block;
    width: 1180px;
    height: auto;
}

.investments-nothing {
    h3 {
        font-size: 18px;
        font-weight: 300;
        margin: 0;
        margin-top: 100px;
        color: #666;
    }
    h4 {
        font-size: 18px;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 375px;
        opacity: .3;
        color: #666;
    }
}
