@import 'base';
@import '~normalize.css/normalize';
// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
    box-sizing: border-box;
}

html,
body {
    font-family: 'PingFangSC-light', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'sans-serif';
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}
.link-hover-color
{
    a{
        &:hover{
            color: #5a76cd !important;
        }
    }
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
