.companies-container
{
    height: auto;

    text-align: center;
}

.companies-list-container
{
    padding-top: 30px;

    text-align: center;

    background-color: #f2f3f6;
}

.companies-list
{
    display: inline-block;

    width: 1180px;
    height: auto;
}
