.company-investments {
    .company-investments-list {
        .company-investments-list-item {
            display: inline-block;
            width: 410px;
            min-height: 195px;
            margin-top: 20px;
            margin-left: 20px;
            vertical-align: top;
            border-radius: 4px;
            background: #f2f3f6;
            ul {
                padding: 15px 20px 20px;
                li:nth-child(1) {
                    font-size: 14px;
                    position: relative;
                    color: #999;
                    span {
                        position: absolute;
                        right: 0;
                    }
                }
                li:nth-child(2) {
                    font-size: 20px;
                    padding-top: 10px;
                    color: #5a76cd;
                }
                li:nth-child(3) {
                    font-size: 14px;
                    line-height: 24px;
                    overflow: hidden;
                    height: 82px;
                    padding-top: 10px;
                    color: #333;
                    span {
                        display: block;
                    }
                }
                li:nth-child(4) {
                    padding-top: 5px;
                    a {
                        font-size: 14px;
                        line-height: 24px;
                        color: #5a76cd;
                    }
                }
            }
        }
    }
}